

img{
	width: 40px;
	height: 40px;
	display: inline-block;
}
.pathDiv{
	display: inline-block;
}
.path a {
	font-size: 30px;
}
p {
	font-size: 25px;
	display: inline-block;
	
}

.loginPart{
	position: absolute;
	width: 50vw;
	height: 50vh;
	margin-top: 25vh;
	margin-left: 25vw;
	
}
.titleLogin{
	margin-left: 25vw;
	margin-top:5vh;
	position: absolute; 
	width: 50vw;
	
}
.titleLogin p {
	width: 50vw;
	text-align: center;
}
.filesDiv{
	margin-left:5%;
	height: 100%;
}
.itemDiv{
	height: 11vh;
}
.serviceImg{
	width: 40vw;
	height: 60vh;
	display: inline-block;
	margin:4vw;
	cursor: pointer;
}
.choiceP{
	font-size: 40px;
	display: inline-block;
	text-align: center;
	width: 95vw;
}
.loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #3498db;
  width: 6vw;
  height: 6vw;
  margin-left:22vw;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.logoutButton{
	float:right;
	margin-top:1%;
	margin-right:2%;
	width:8%;
	height: 5%;
	font-size: 2.2vw;
	padding:0.3%;
}